<div *ngIf="products">
  <div *ngFor="let p of products._embedded.productses">
    <div class = "col-md-6">
      <div class = "panel panel-default">
        <div class="panel-heading">{{p.name}}</div>
        <div class="panel-body">
          <table>
            <tr>
              <td rowspan="3">
                <img height="100" src="{{this.catService.host+'/photoProducts/'+p.id}}">
                <p><button (click)="OnEditPhoto(p)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                </p>
                <p *ngIf="editPhoto && currentProduct==p">
                  <input type="file" (change)="onSelectedFile($event)">
                  <button class="btn btn-success" (click)="uploadPhoto()" >Upload</button>
                  {{this.progress}}
                </p>
              </td>
            </tr>
            <tr>
              <td>
                {{p.description}}
              </td>
            </tr>
            <tr>
              <td>
                {{p.currentPrice}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
